[core]
	autocrlf = false
	safecrlf = true
	editor = subl -n -w
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  c = commit -am
  p = push
  s = status -s
  df = diff --color --color-words --abbrev
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold white)<%an>%Creset' --abbrev-commit --
  undo = reset --hard HEAD~1
  amend = commit --amend
  ms = merge staging
  md = merge develop
[color]
  ui = always
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta
  old = red bold
  new = green bold
[color "status"]
  added = yellow bold 
  changed = green
  untracked = cyan
[mergetool]
	keepBackup = true
[merge]
  log = true
[user]
	name = Nicholas Monfils
	email = nicholas@domain7.com
